<p>
  <b><%= @amazon_key.key_code %></b>
	
	<form action ="<%= @return_uri %>" >
		<input type="hidden"  name = "answer" value = "<%= @amazon_key.key_code %>">
		<input id="form" type="submit" value="Continuar">
	</form>

</p>