<h1>Listing amazon_keys</h1>

<table>
  <tr>
    <th>Key code</th>
    <th>User email</th>
    <th>Assignment date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amazon_keys.each do |amazon_key| %>
  <tr>
    <td><%= amazon_key.key_code %></td>
    <td><%= amazon_key.user_id %></td>
    <td><%= amazon_key.assignment_date %></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Amazon key', new_amazon_key_path %>
